[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "app/vim/bundle/vim-monokai"]
	path = app/vim/bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
