#!/usr/bin/env zsh

# Track hashes of brewfiles
# default: {{ include "homebrew/default.Brewfile" | sha256sum }}
# mac os: {{ include "homebrew/darwin.Brewfile" | sha256sum }}

echo "Installing packages using Homebrew..."

brew bundle --file {{ joinPath .chezmoi.sourceDir "homebrew/default.Brewfile" | quote }}

{{ if eq .chezmoi.os "darwin" -}}
brew bundle --file {{ joinPath .chezmoi.sourceDir "homebrew/darwin.Brewfile" | quote }}
{{ end -}}

echo "Done!"
