#!/bin/bash

echo "Installing packages using Homebrew..."
{{ range .packages.taps -}}
brew tap {{ . | quote }}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF

{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ if eq .osid "linux-ubuntu" -}}
{{ range .packages.ubuntu.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

echo "Done!"
